<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lk.prasad.crop"
    android:versionCode="52"
    android:versionName="5.2" >


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    
    <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="lk.prasad.crop.KeyWordSearch" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="lk.prasad.crop.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="lk.prasad.crop.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lk.prasad.crop.KeyWordSearch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lk.prasad.crop.Language"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lk.prasad.crop.DashBoard"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lk.prasad.crop.UserProfile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lk.prasad.crop.WebViewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lk.prasad.crop.Details"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lk.prasad.crop.ReportDedeases"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lk.prasad.crop.Disease"
            android:screenOrientation="portrait" >
        </activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <!--<meta-data-->
            <!--android:name="com.google.android.gms.version"-->
            <!--android:value="@integer/google_play_services_version" />-->
    </application>

</manifest>